extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Sign In'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Sign In'}]

//- Page Content
block content
  //- Inline styles for sign-in form
  style.
    /* Google Sign-In Button (official) */
    .gsi-material-button {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-appearance: none;
      background-color: WHITE;
      background-image: none;
      border: 1px solid #747775;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #1f1f1f;
      cursor: pointer;
      font-family: 'Roboto', arial, sans-serif;
      font-size: 14px;
      height: 40px;
      letter-spacing: 0.25px;
      outline: none;
      overflow: hidden;
      padding: 0 12px;
      position: relative;
      text-align: center;
      -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
      transition: background-color .218s, border-color .218s, box-shadow .218s;
      vertical-align: middle;
      white-space: nowrap;
      width: auto;
      max-width: 400px;
      min-width: min-content;
    }
    .gsi-material-button .gsi-material-button-icon {
      height: 20px;
      margin-right: 10px;
      min-width: 20px;
      width: 20px;
    }
    .gsi-material-button .gsi-material-button-content-wrapper {
      -webkit-align-items: center;
      align-items: center;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;
    }
    .gsi-material-button .gsi-material-button-contents {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      font-family: 'Roboto', arial, sans-serif;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
    }
    .gsi-material-button .gsi-material-button-state {
      -webkit-transition: opacity .218s;
      transition: opacity .218s;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    .gsi-material-button:disabled {
      cursor: default;
      background-color: #ffffff61;
      border-color: #1f1f1f1f;
    }
    .gsi-material-button:disabled .gsi-material-button-contents {
      opacity: 38%;
    }
    .gsi-material-button:disabled .gsi-material-button-icon {
      opacity: 38%;
    }
    .gsi-material-button:not(:disabled):active .gsi-material-button-state,
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
      opacity: 0;
    }
    .gsi-material-button:not(:disabled):hover {
      -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }
    .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
      opacity: 0;
    }

    /* Google button overrides to match design */
    .signin-google-btn {
      width: 100%;
      max-width: 100%;
      height: 50px;
      border-radius: 25px;
      border-color: #c1272d;
      font-size: 16px;
    }
    .signin-google-btn .gsi-material-button-contents {
      color: #c1272d;
      font-size: 16px;
      font-weight: 600;
    }
    .signin-google-btn .gsi-material-button-icon {
      height: 24px;
      width: 24px;
      min-width: 24px;
    }

    /* Facebook button */
    .signin-facebook-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      border: 1px solid #1877F2;
      background: #fff;
      color: #1877F2;
      font-family: 'Roboto', arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.25px;
      cursor: pointer;
      margin-top: 12px;
      transition: background-color .218s, box-shadow .218s;
    }
    .signin-facebook-btn:hover {
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }
    .signin-facebook-btn i {
      font-size: 20px;
      margin-right: 10px;
    }

    /* Sign-in card */
    .signin-card {
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 2px 16px rgba(0,0,0,0.07);
      padding: 35px 30px;
    }

    /* Helper text */
    .signin-helper-text {
      text-align: center;
      color: #666;
      font-size: 14px;
      margin: 6px 0 0 0;
    }

    /* OR divider */
    .signin-or-divider {
      display: flex;
      align-items: center;
      margin: 20px 0;
    }
    .signin-or-divider::before,
    .signin-or-divider::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #bbb;
    }
    .signin-or-divider span {
      padding: 0 16px;
      color: #666;
      font-size: 15px;
      font-weight: 500;
    }

    /* Phone button */
    .signin-btn-phone {
      width: 100%;
      height: 52px;
      border-radius: 26px;
      border: 2px solid #7fbd52;
      background: transparent;
      color: #7fbd52;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;
    }
    .signin-btn-phone:hover {
      background: #7fbd52;
      color: #fff;
    }
    .signin-btn-phone i,
    .signin-btn-login i {
      font-size: 20px;
      margin-right: 6px;
    }

    /* Input fields */
    .signin-input-group {
      position: relative;
      margin-bottom: 16px;
    }
    .signin-input-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #7fbd52;
      font-size: 15px;
    }
    .signin-input {
      width: 100%;
      height: 50px;
      border: 1px solid #ddd;
      border-radius: 25px;
      padding: 0 50px 0 48px;
      font-size: 15px;
      color: #333;
      outline: none;
      transition: border-color 0.2s;
    }
    .signin-input:focus {
      border-color: #7fbd52;
    }
    .signin-input::placeholder {
      color: #aaa;
    }

    /* Password toggle */
    .signin-toggle-password {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: #7fbd52;
      font-size: 15px;
      padding: 4px;
    }
    .signin-toggle-password:hover {
      color: #6aa842;
    }

    /* Remember me row */
    .signin-card .custom-control-label {
      font-size: 14px;
      color: #555;
    }
    .signin-card .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #7fbd52;
      border-color: #7fbd52;
    }
    .signin-forgot-text {
      font-size: 14px;
      color: #555;
    }
    .signin-forgot-link {
      color: #7fbd52;
      text-decoration: underline;
    }
    .signin-forgot-link:hover {
      color: #6aa842;
    }

    /* Login with email button */
    .signin-btn-login {
      width: 100%;
      height: 52px;
      border-radius: 26px;
      border: 2px solid #7fbd52;
      background: transparent;
      color: #7fbd52;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;
    }
    .signin-btn-login:hover {
      background: #7fbd52;
      color: #fff;
    }

    /* Register link below card */
    .signin-register-link {
      color: #555;
      font-size: 17px;
    }
    .signin-register-link a {
      color: #7fbd52;
      text-decoration: underline;
    }
    .signin-register-link a:hover {
      color: #6aa842;
    }

    /* Responsive */
    @media (max-width: 575px) {
      .signin-card {
        padding: 25px 20px;
      }
    }

  .container.padding-bottom-3x.mb-2
    .row.justify-content-center
      .col-lg-6.col-md-8

        .signin-card

          //- Google Sign-In Button (official markup)
          button.gsi-material-button.signin-google-btn
            .gsi-material-button-state
            .gsi-material-button-content-wrapper
              .gsi-material-button-icon
                svg(version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' style='display: block;')
                  path(fill='#EA4335' d='M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z')
                  path(fill='#4285F4' d='M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z')
                  path(fill='#FBBC05' d='M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z')
                  path(fill='#34A853' d='M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z')
                  path(fill='none' d='M0 0h48v48H0z')
              span.gsi-material-button-contents Continue with Google
              span(style='display: none;') Continue with Google

          //- Facebook Sign-In Button (custom, follows brand guidelines)
          // button.signin-facebook-btn(type='button')
          //   i.fab.fa-facebook-f
          //   span Sign in with Facebook

          .signin-or-divider
            span OR

          //- Continue with Phone
          button.btn.signin-btn-phone#signin-cell-toggle(type='button' onclick='toggleCellForm()')
            i.fas.fa-mobile-alt
            | &nbsp; CONTINUE WITH CELL

          p.signin-helper-text#signin-cell-helper We'll send an SMS with a code to sign in

          //- Cell form (hidden by default)
          form#signin-cell-form(method='post' style='display:none;')
            .signin-input-group
              i.fas.fa-mobile-alt.signin-input-icon
              input.signin-input(type='tel' inputmode='tel' autocomplete='tel' placeholder='Cell phone number' required)

            button.btn.signin-btn-login(type='submit')
              i.fas.fa-sms
              | &nbsp; SEND CODE

          .signin-or-divider
            span OR

          //- Continue with Magic Link
          button.btn.signin-btn-login#signin-magic-toggle(type='button' onclick='toggleMagicForm()')
            i.fas.fa-magic
            | &nbsp; CONTINUE WITH EMAIL

          p.signin-helper-text#signin-magic-helper We'll email you a link to sign in

          //- Magic link form (hidden by default)
          form#signin-magic-form(method='post' style='display:none;')
            .signin-input-group
              i.fas.fa-envelope.signin-input-icon
              input.signin-input(type='email' autocomplete='email' placeholder='Email' required)

            button.btn.signin-btn-login(type='submit')
              i.fas.fa-paper-plane
              | &nbsp; SEND EMAIL SIGN-IN LINK TO MY EMAIL

          .signin-or-divider
            span OR

          //- Email / Password toggle button
          button.btn.signin-btn-login#signin-email-toggle(type='button' onclick='toggleEmailForm()')
            i.fas.fa-envelope
            | &nbsp; SIGN IN WITH EMAIL & PASSWORD

          //- Email / Password form (hidden by default)
          form#signin-email-form(method='post' style='display:none;')
            .signin-input-group
              i.fas.fa-envelope.signin-input-icon
              input.signin-input(type='email' placeholder='Email' required)

            .signin-input-group
              i.fas.fa-lock.signin-input-icon
              input.signin-input#signin-password(type='password' placeholder='Password' required)
              button.signin-toggle-password(type='button' onclick='togglePassword()')
                i.fas.fa-eye#password-eye-icon

            .d-flex.justify-content-between.align-items-center.mb-4
              .custom-control.custom-checkbox
                input.custom-control-input(type='checkbox' id='remember_me' checked)
                label.custom-control-label(for='remember_me') Remember me
              span.signin-forgot-text Forgot password?&nbsp;
                a.signin-forgot-link(href='account-password-recovery.html') Click here.

            button.btn.signin-btn-login(type='submit')
              i.fas.fa-sign-in-alt
              | &nbsp; SIGN IN

        p.text-center.mt-4.signin-register-link Don't have an account?&nbsp;
          a(href='account-register.html') Register now

  //- Password toggle script
  script.
    function toggleEmailForm() {
      var form = document.getElementById('signin-email-form');
      var btn = document.getElementById('signin-email-toggle');
      form.style.display = 'block';
      btn.style.display = 'none';
      form.querySelector('.signin-input').focus();
    }

    function toggleCellForm() {
      var form = document.getElementById('signin-cell-form');
      var btn = document.getElementById('signin-cell-toggle');
      var helper = document.getElementById('signin-cell-helper');
      form.style.display = 'block';
      btn.style.display = 'none';
      helper.style.display = 'none';
      form.querySelector('.signin-input').focus();
    }

    function toggleMagicForm() {
      var form = document.getElementById('signin-magic-form');
      var btn = document.getElementById('signin-magic-toggle');
      var helper = document.getElementById('signin-magic-helper');
      form.style.display = 'block';
      btn.style.display = 'none';
      helper.style.display = 'none';
      form.querySelector('.signin-input').focus();
    }

    function togglePassword() {
      var input = document.getElementById('signin-password');
      var icon = document.getElementById('password-eye-icon');
      if (input.type === 'password') {
        input.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        input.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
