extends partials/layout

//- Override default config variables
append config
  - var isModalUpload = true
  - var pageTitle = 'My Gift Vouchers'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Account', 'link': 'account-profile.html'}, {'title': 'My Gift Vouchers'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .row
      .col-lg-4
        include partials/account-menu
      .col-lg-8
        .padding-top-2x.mt-2.hidden-lg-up
