extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = true
  - var pageTitle = 'FAQ'
  - var breadcrumbs = [{'title': 'Home', 'link': 'index.html'}, {'title': 'Help & Info', 'link': 'index.html'}, {'title': 'FAQ'}]

//- Page Content
block content
  .container.padding-bottom-3x.mb-2
    .row

      // Side Menu
      .col-lg-3.col-md-4
        nav.list-group
          a(href='#').list-group-item.active Question Group 1
          a(href='#').list-group-item Question Group 2
          a(href='#').list-group-item Question Group 3
          a(href='#').list-group-item Question Group 4
        .padding-bottom-3x.hidden-md-up

      // Content
      .col-lg-9.col-md-8
        h5 Question Group 1
        div(id='accordion' class='accordion' role='tablist')
          .card
            .card-header(role='tab')
              h6: a(href='#collapseOne' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseOne' class='collapse' role='tabpanel')
              .card-body
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, harum. Asperiores mollitia sed ullam quae blanditiis explicabo, reprehenderit sint rerum, labore, fugit obcaecati laboriosam nulla voluptatem inventore nobis esse nemo.
          .card
            .card-header(role='tab')
              h6: a(href='#collapseTwo' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseTwo' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          h5.padding-top-1x.mt-2 Question Group 2
          .card
            .card-header(role='tab')
              h6: a(href='#collapseThree' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseThree' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          .card
            .card-header(role='tab')
              h6: a(href='#collapseFour' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseFour' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          h5.padding-top-1x.mt-2 Question Group 3
          .card
            .card-header(role='tab')
              h6: a(href='#collapseFive' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseFive' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          .card
            .card-header(role='tab')
              h6: a(href='#collapseSix' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseSix' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          h5.padding-top-1x.mt-2 Question Group 4
          .card
            .card-header(role='tab')
              h6: a(href='#collapseSeven' class='collapsed' data-toggle='collapse' data-parent='#accordion') A frequently asked question
            div(id='collapseSeven' class='collapse' role='tabpanel')
              .card-body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.


        h3.padding-top-2x.mt-2 Haven't found the answer? Ask us.
        p.text-muted.mb-30 We normally respond within 2 business days. Most popular questions will appear on this page.
        form(method='post').row
          .col-sm-6
            .form-group
              label(for='help_name') Your Name
              input(type='text' id='help_name' required).form-control.form-control-rounded
          .col-sm-6
            .form-group
              label(for='help_email') Your Email
              input(type='email' id='help_email' required).form-control.form-control-rounded
          .col-sm-6
            .form-group
              label(for='help_subject') Subject
              input(type='text' id='help_subject' required).form-control.form-control-rounded
          .col-sm-6
            .form-group
              label(for='help_category') Category
              select(id='help_category').form-control.form-control-rounded
                option Account Management
                option Refund Policy
                option Payment Procedure
                option Shipping Info
                option Referral Program
          .col-12
            .form-group
              label(for='help_question') Question
              textarea(id='help_question' rows='8' required).form-control.form-control-rounded
          .col-12.text-right
            button(type='submit').btn.btn-primary Submit Question
