aside.sidebar
  .padding-top-2x.hidden-lg-up

  // Order Summary Widget
  section.widget.widget-order-summary
    h3.widget-title Order Summary
    table.table
      tr
        td Cart Subtotal:
        td.text-medium R289.68
      tr
        td Shipping:
        td.text-medium R22.50
      tr
        td Estimated tax:
        td.text-medium R3.42
      tr
        td
        td.text-lg.text-medium R315.60

  // Featured Products Widget
  section.widget.widget-featured-products
    h3.widget-title Recently Viewed
    // Entry
    .entry
      .entry-thumb
        a(href='product.html')
          img(src='img/shop/widget/01.jpg', alt='Product')
      .entry-content
        h4.entry-title
          a(href='product.html') Event Title Here
        span.entry-meta.text-info R45 - R420
    // Entry
    .entry
      .entry-thumb
        a(href='product.html')
          img(src='img/shop/widget/02.jpg', alt='Product')
      .entry-content
        h4.entry-title
          a(href='product.html') Event Title Here
        span.entry-meta.text-info R45 - R420
    // Entry
    .entry
      .entry-thumb
        a(href='product.html')
          img(src='img/shop/widget/03.jpg', alt='Product')
      .entry-content
        h4.entry-title
          a(href='product.html') Event Title Here
        span.entry-meta.text-info R45 - R420
