// Header used for components pages
header.components-header.text-center.text-md-left
  .container.py-4
    a(href='index.html').site-logo.align-middle
      +image('img/logo.png', 'Webtickets')
    h2.d-md-inline-block.text-normal.pl-0.pl-md-5.mt-3.mt-md-0 Collection of UI components
