// Featured Events
section.fw-section.padding-bottom-4x
  .bg-angle.bg-inset-shadow-both(style='background-image: url(img/bg-pattern.png);')
  .container.pb-4
    h2.mb-2.pt-4
      i.fas.fa-star.text-primary &nbsp;
      | Featured Events
    p.text-lg We’ve hand picked the best events in each category. Click See More to see the full list.
    // Scrollable Menu
    .scrollable-menu.owl-carousel(data-owl-carousel='{ "nav": true, "dots": false, "autoWidth": true}')
      .scrollable-menu-item: a(href='#') All
      .scrollable-menu-item.active: a(href='#') Music
      .scrollable-menu-item: a(href='#') Performing &amp; Visual Arts
      .scrollable-menu-item: a(href='#') Sport &amp; Fitness
      .scrollable-menu-item: a(href='#') Tourism &amp; Outdoor
      .scrollable-menu-item: a(href='#') Food &amp; Drink
      .scrollable-menu-item: a(href='#') Film &amp; Media
      .scrollable-menu-item: a(href='#') Family &amp; Kids
      .scrollable-menu-item: a(href='#') Tourism &amp; Outdoor
      .scrollable-menu-item: a(href='#') Charities &amp; Causes
      .scrollable-menu-item: a(href='#') Business &amp; Professional
    
  // Events
  .container
    .owl-carousel.nav-outside(data-owl-carousel='{ "nav": true, "dots": false, "margin": 30, "autoHeight": true }')

      // Slide
      .row
        .col-md-6
          // Event
          .product-card.product-card-lg.mb-30
            .product-card-thumb
              a(href='product.html')
                img(src='img/shop/th13.jpg' alt='Product')
              button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                i.far.fa-heart
            .product-card-meta Tue, Mar 27, 7PM
            h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
            ul.product-card-category
              li: a(href='#') Live Bands
            .product-card-price R45 - R414
        .col-md-6
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th09.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th10.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th11.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th12.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414

      // Slide
      .row
        .col-md-6
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th11.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th12.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th09.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th10.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
        .col-md-6
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th09.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th10.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
          .row
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th11.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
            .col-6
              // Event
              .product-card.mb-30
                .product-card-thumb
                  a(href='product.html')
                    img(src='img/shop/th12.jpg' alt='Product')
                  button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
                    i.far.fa-heart
                .product-card-meta Tue, Mar 27, 7PM
                h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
                ul.product-card-category
                  li.hidden-xs-down: a(href='#') Performance &amp; Visual Art
                  li.hidden-xs-down &gt;
                  li: a(href='#') Theatre
                .product-card-price R45 - R414
      
    // More Button
    .container.text-center
      a(href='#').btn.btn-primary See More
