// Mega Menu "Browse"
.mega-menu(style='min-height: 416px; background-image: url(img/mega-menu-bg.png);')
  .container
    .pb-4
      h3.d-inline-block.border-right.text-dark.text-bold.mb-0.pr-3.mr-3 Event <span class='text-uppercase text-lg text-normal'>Categories in <i class='fas fa-map-marker-alt text-primary'></i> Cape Town</span>
      a(href='#').d-inline-block.text-decoration-none
        span.text-uppercase.text-dark.text-lg Switch to&nbsp;
        span.h3.text-bold.text-primary Active

    // Categories Carousel
    .owl-carousel.nav-outside(data-owl-carousel='{ "nav": true, "dots": true, "margin": 30, "items": 3 }')
      ul.mega-menu-links
        li
          a(href='#') <span>Music</span><span class='count'>126</span>
          span.description Music Festivals, Club Nights, DJ Sets, ...
        li
          a(href='#') <span>Sport &amp; Fitness</span><span class='count'>87</span>
          span.description Running, Cycling, Swimming, ...
        li
          a(href='#') <span>Film &amp; Media</span><span class='count'>54</span>
          span.description Cinemas, Screenings, Outdoor, ...
        li
          a(href='#') <span>Talks &amp; Education</span><span class='count'>38</span>
          span.description Theatre, Comedy, Art Exhibitions, ...
      ul.mega-menu-links
        li
          a(href='#') <span>Sport Spectating</span><span class='count'>67</span>
          span.description Rugby, Cricket, Football, ...
        li
          a(href='#') <span>Performance &amp; Visual Art</span><span class='count'>121</span>
          span.description Theatre, Comedy, Art Exhibitions, ...
        li
          a(href='#') <span>Food &amp; Drink</span><span class='count'>88</span>
          span.description Wine Tasting, Food Festivals, ...
        li
          a(href='#') <span>Tourism &amp; Outdoor</span><span class='count'>30</span>
          span.description Museums, Tours, Sights, ...
      ul.mega-menu-links
        li
          a(href='#') <span>Health &amp; Wellness</span><span class='count'>12</span>
          span.description Events, Festivals, Classes, ...
        li
          a(href='#') <span>Family &amp; Kids</span><span class='count'>43</span>
          span.description Days Out, Under 5's, Babies, ...
        li
          a(href='#') <span>Charities &amp; Causes</span><span class='count'>24</span>
          span.description Events, Participation, ...
        li
          a(href='#') <span>Business &amp; Professional</span><span class='count'>12</span>
          span.description Networking, Conferences, ...
      ul.mega-menu-links
        li
          a(href='#') <span>Music</span><span class='count'>126</span>
          span.description Music Festivals, Club Nights, DJ Sets, ...
        li
          a(href='#') <span>Sport &amp; Fitness</span><span class='count'>87</span>
          span.description Running, Cycling, Swimming, ...
        li
          a(href='#') <span>Film &amp; Media</span><span class='count'>54</span>
          span.description Cinemas, Screenings, Outdoor, ...
        li
          a(href='#') <span>Talks &amp; Education</span><span class='count'>38</span>
          span.description Theatre, Comedy, Art Exhibitions, ...
      ul.mega-menu-links
        li
          a(href='#') <span>Sport Spectating</span><span class='count'>67</span>
          span.description Rugby, Cricket, Football, ...
        li
          a(href='#') <span>Performance &amp; Visual Art</span><span class='count'>121</span>
          span.description Theatre, Comedy, Art Exhibitions, ...
        li
          a(href='#') <span>Food &amp; Drink</span><span class='count'>88</span>
          span.description Wine Tasting, Food Festivals, ...
        li
          a(href='#') <span>Tourism &amp; Outdoor</span><span class='count'>30</span>
          span.description Museums, Tours, Sights, ...
    
    // See All Button
    .text-center.pt-3
      a(href='#').btn.btn-primary See All Categories