// Mega Menu "Help & Info"
.mega-menu(style='background-image: url(img/mega-menu-bg.png);')
  .container.pb-5
    .row
      .col-6
        h3.h4.mb-4
          span.d-inline-block.align-middle.h2.mb-0.mr-2.text-primary
            i.far.fa-life-ring
          | Help
        h4.h5.mb-3.text-normal: a(href='faq.html').navi-link-2 Frequently Asked Questions
        h4.h5.mb-3.text-normal: a(href='faq.html#eventquestions').navi-link-2 Questions About an Event
        h4.h5.mb-3.text-normal: a(href='faq.html#picknpay').navi-link-2 Buying and Paying In-Store with Pick n Pay
        h4.h5.mb-3.text-normal: a(href='contact.html').navi-link-2 Contact Us for Support
      .col-6
        h3.h4.mb-4
          span.d-inline-block.align-middle.h2.mb-0.mr-2.text-primary
            i.fas.fa-info-circle
          | Info
        h4.h5.mb-3.text-normal: a(href='about.html').navi-link-2 About Webtickets
        h4.h5.mb-3.text-normal: a(href='sellwithwebtickets.html').navi-link-2 Selling with Webtickets
