// Mega Menu "Deals"
.mega-menu(style='background-image: url(img/mega-menu-bg.png);')
  .container.pb-5
    .row
      .col-6
        a(href='#').promo-box
          h3.promo-box-title
            span Visa Checkout Deals
            span.count 12
          img(src='img/banners/visa-deals.jpg' alt='Visa Checkout Deals')
      .col-6
        a(href='#').promo-box
          h3.promo-box-title
            span PnP Smart Shopper Deals
            span.count 4
          img(src='img/banners/pnp-deals.jpg' alt='PnP Smart Shopper Deals')
