// Mega Menu "Blog"
.mega-menu(style='background-image: url(img/mega-menu-bg.png);')
  .container.pb-4
    h3.h4.mb-4 Check out the latest blog posts
    .row.pb-4
      .col-3
        // Blog Post
        .product-card
          .product-card-thumb
            a(href='blog-single.html')
              img(src='img/shop/th01.jpg' alt='Post')
          .product-card-meta Tue, Mar 27, 7PM
          h3.product-card-title: a(href='blog-single.html') Blog Post Title Goes Here With a Story About a Thing.
      .col-3
        // Blog Post
        .product-card
          .product-card-thumb
            a(href='blog-single.html')
              img(src='img/shop/th02.jpg' alt='Post')
          .product-card-meta Tue, Mar 27, 7PM
          h3.product-card-title: a(href='blog-single.html') Blog Post Title Goes Here With a Story About a Thing.
      .col-3
        // Blog Post
        .product-card
          .product-card-thumb
            a(href='blog-single.html')
              img(src='img/shop/th03.jpg' alt='Post')
          .product-card-meta Tue, Mar 27, 7PM
          h3.product-card-title: a(href='blog-single.html') Blog Post Title Goes Here With a Story About a Thing.
      .col-3
        // Blog Post
        .product-card
          .product-card-thumb
            a(href='blog-single.html')
              img(src='img/shop/th04.jpg' alt='Post')
          .product-card-meta Tue, Mar 27, 7PM
          h3.product-card-title: a(href='blog-single.html') Blog Post Title Goes Here With a Story About a Thing.
    .text-center
      a(href='blog.html').btn.btn-primary See More
