// Mega Menu "Lists"
.mega-menu(style='min-height: 552px; background-image: url(img/mega-menu-bg.png);')
  .container
    .pb-2
      ul.mega-menu-horizontal-links.d-flex.justify-content-between
        li.active: a(href='#') Recommended for You
        li: a(href='#') Popular
        li: a(href='#') Trending
        li: a(href='#') This Weekend
        li: a(href='#') Fun with Kids
        li: a(href='#') Freebees
      p.text-lg Some events we think you’ll love based on your activity
      include products-carousel-1