// Products Carousel
.owl-carousel.nav-outside(data-owl-carousel='{ "nav": true, "dots": true, "loop": true, "margin": 30, "responsive": {"0":{"items":2, "margin":15},"480":{"items":2, "margin":15},"680":{"items":3, "margin":15},"991":{"items":4},"1200":{"items":4}} }')
  // Event
  .product-card
    .product-card-thumb
      a(href='product.html')
        img(src='img/shop/th05.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414
  // Event
  .product-card
    .product-card-thumb.border-default
      a(href='product.html')
        img(src='img/shop/th06.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414
  // Event
  .product-card
    .product-card-thumb
      a(href='product.html')
        img(src='img/shop/th07.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414
  // Event
  .product-card
    .product-card-thumb.border-default
      a(href='product.html')
        img(src='img/shop/th08.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414
  // Event
  .product-card
    .product-card-thumb
      a(href='product.html')
        img(src='img/shop/th02.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414
  // Event
  .product-card
    .product-card-thumb
      a(href='product.html')
        img(src='img/shop/th03.jpg' alt='Product')
      button(type='button' data-toggle='tooltip' title='Add to Likes').product-card-like
        i.far.fa-heart
    .product-card-meta Tue, Mar 27, 7PM
    h3.product-card-title: a(href='product.html') Event Title Here With Enough Space For Two Lines
    ul.product-card-category
      li.hidden-xs-down: a(href='#') Performance & Visual Art
      li.hidden-xs-down &gt;
      li: a(href='#') Theatre
    .product-card-price R45 - R414

// More Button
.text-center.pt-4
  a(href='#').btn.btn-primary See More