// Promo Bar
a(href='#' style='background-image: url(img/promo-bar.jpg);').promo-bar.alert.alert-dismissible.fade.show.text-center
  span(data-dismiss='alert').alert-close.text-white
    i.fas.fa-times
  p.d-inline-block.text-uppercase.text-medium.text-white.mb-0.mr-3
    i.far.fa-snowflake.mr-2
    | Rocking The Daisies On Sale
  div.btn.btn-xs.btn-white.m-0 Get Yours