if isHeaderSearch
  .search-box
    .input-group
      .search-tools
        span.clear-search Clear
        span.close-search
      input(type='search' id='site-search' placeholder='Search for any Event or Category').form-control
      span.input-group-addon.text-primary
        i.fas.fa-search