//
// Page Title & Breadcrumbs
// --------------------------------------------------

// Page Title
.page-title {
  position: relative;
  width: 100%;
  margin-bottom: ceil($grid-vertical-step * 2.3); //~55px
  padding: floor($grid-vertical-step * 1.5) 0; //~36px 0
  border-bottom: $header-border;
  background-color: $white;
  box-shadow: 0 3px 25px 0 rgba($black, .16);
  z-index: 1;
  h1, h2, h3 {
    margin: 0;
    color: $gray;
    font-size: $font-size-h3;
    line-height: $line-height-h3;
  }
  & + .single-product-banner {
    margin-top: -(ceil($grid-vertical-step * 2.3));
  }
}

// Breadcrumbs
.breadcrumbs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  > li {
    display: inline-block;
    margin-left: 5px;
    padding: 5px 0;
    color: $primary;
    font: {
      size: $font-size-xs;
      weight: $nav-link-font-weight;
    }
    text-transform: uppercase;
    cursor: default;
    vertical-align: middle;
    &.separator {
      padding: 0 5px;
      border-radius: 50%;
      color: darken($gray-lighter, 10%);
    }
    > a {
      transition: color .25s;
      color: $gray;
      text-decoration: none;
      &:hover { color: $nav-link-hover-color; }
    }
  }
}

// Media query (max-width: 768px)
@media (max-width: $screen-md) {
  .page-title {
    margin-bottom: ceil($grid-vertical-step * 2); //~48px
    padding: 0;
    .col-md-6:last-child {
      border-bottom: 1px solid $border-color;
    }
    h1, h2, h3 { padding: 30px 0; }
    & + .steps-wrap-container,
    & + .checkout-page {
      position: relative;
      z-index: 2;
    }
    & + .steps-wrap-container,
    & + .single-product-banner,
    & + .checkout-page {
      margin-top: -(ceil($grid-vertical-step * 2));
    }
  }
  .breadcrumbs {
    padding: 8px 0;
    text-align: center;
    > li {
      margin: 0;
      font-size: $font-size-xxs;
      &.separator { padding: 0 3px; }
    }
  }
}
