//- Page title
- var pageTitle = 'Webtickets'

//- Breadcrumbs
- var breadcrumbs = []

//- Conditionals
- var isHeader = true
- var isHeaderSearch = true
- var isFooter = true
- var isComponentHeader = false
- var isPageTitle = true
- var isGoogleMap = false
- var isModalExample = false
- var isModalOrder = false
- var isModalUpload = false
- var isCardScript = false
- var isGallery = false

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu
- var menuTitle